---
import { docsRoutes, useRouteTrans } from '@routes'
// components
import Link from '@components/utils/Link.astro'

export interface Props {
  class?: string
}

const { class: className } = Astro.props as Props
const { pathname } = Astro.url
const currentPage = pathname.split('/').at(-1)
---

<div class:list={['sidebar', className]}>
  <nav class="sidebar-nav">
    <div class="sidebar-active-marker" transition:persist></div>
    {
      docsRoutes.map((group) => (
        <>
          <div class="py-3 font-medium">{useRouteTrans(group)}</div>
          {group.children && group.children.length && (
            <ul>
              {group.children.map((route) => (
                <li class:list={['sidebar-item', { 'is-active': route.name === currentPage }]}>
                  <Link href={`${group.path}${route.path}`} class="sidebar-link">
                    {useRouteTrans(route)}
                  </Link>
                </li>
              ))}
            </ul>
          )}
        </>
      ))
    }
  </nav>
</div>

<style>
  .sidebar {
    @apply overflow-auto px-4 md:px-0;

    width: var(--sidebar-left-width);
    max-height: calc(100vh - var(--header-height));
    max-height: calc(100dvh - var(--header-height));
  }

  .sidebar-nav {
    @apply relative max-h-[clac(100%-var(--content-padding-top))] pt-[--nav-padding-top] text-sm;
  }

  .is-active .sidebar-link {
    @apply text-black dark:text-white;
  }
</style>

<script>
  import { flatDocsRoutes } from '@routes'

  const setActiveMarker = (): void => {
    const activeMarker: HTMLElement | null = document.querySelector(
      '.sidebar-left .sidebar-active-marker'
    )
    const sidebarNav: HTMLElement | null = document.querySelector('.sidebar-left .sidebar-nav')
    const sidebarLinks: HTMLElement[] = [
      ...document.querySelectorAll<HTMLElement>('.sidebar-left .sidebar-item')
    ]
    if (!activeMarker || !sidebarNav || !sidebarLinks.length) return

    const { pathname } = window.location
    const currentRouteIndex = flatDocsRoutes.findIndex((route) =>
      route.path ? pathname.includes(route.path) : null
    )
    const activeLink = sidebarLinks[currentRouteIndex]
    const { y: activeY, height } = activeLink.getBoundingClientRect()
    const { y: navTop } = sidebarNav.getBoundingClientRect()

    activeMarker.style.setProperty('top', `${activeY - navTop}px`)
    activeMarker.style.setProperty('height', `${height}px`)
    activeLink.classList.add('is-active')
  }

  document.addEventListener('astro:page-load', setActiveMarker)
</script>
